{% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if site.disqus.shortname and page.comments != false %}

<div id=disqus_thread></div>

<script type="text/javascript">
      var disqus_shortname = '{{ site.disqus.shortname }}';

    {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
    // var disqus_developer = 1;
    var disqus_identifier = '{{ page.url | absolute_url }}';
    var disqus_url = '{{ page.url | absolute_url }}';
    var disqus_script = 'embed.js';

    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.head || document.body).appendChild(dsq);
    }());
</script>
{% endif %}
