<header class="site-header">
  <h1><%= link_to @metadata.title, "/" %></h1>
  <span class="tagline"><%= @metadata.tagline %></span>
</header>

<nav>
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/posts' %>">Posts</a></li>
  </ul>
</nav>
